*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }
 
 html{
    font-size: 62.5%;
 }


$main-color:#a5d8ff;
$gray-color:#555;
$radius:10px;


 body{
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    line-height: 1;
    color: $gray-color;
    font-size: 1.8rem;
    background-color:$main-color;
    padding: 0;
 }

 .container{
    max-width: 120rem;
    min-height: 117rem;
    margin: 3vw auto;
    border-radius: 9px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 2rem 6rem .5rem rgba(97,85,81,.2);
         
    @media(max-width:75em){
      min-height:100vh;
      margin: 0;
      border-radius: 0;
    }
 }

.container-small {
   max-width: 100rem;
   margin: 2vw auto;
   @media(max-width:75em) {
     max-width: 60rem;
   } 
   @media (max-width:42em) {
    max-width: 19em;
   }
}

 .grid{
   display: grid;
   gap:3rem;
 }

 .grid-3-cols{
   grid-template-columns: repeat(3, 1fr);
   @media(max-width:75em){
    grid-template-columns: repeat(2, 1fr);
   }
   @media (max-width:42em) {
    grid-template-columns: 1fr;
   }
 }

 .border-bottom{
   max-width: 115rem;
   margin: 0 auto;
   border:0.1px solid #ccc;
 }
