.navigation{
    padding:3rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height:100px;
    @media(max-width:42em){
        flex-direction:column;
        justify-content:center;
        gap:1rem;
    }
}

.navigation__search{
    display: flex;
    justify-content: center;

    &-input {
        font-size: 1.8rem;
        padding: 1rem;
        border-top-left-radius: $radius;
        border-bottom-left-radius: $radius;
        border: 1px solid #ccc;
        border-right: none;
        transition: border-color 0.2s;
        background-color: #fff; 
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        color: #777;
        font-family: italic, sans-serif;

        &:focus {
          outline: none;
          border-color: #777;
        }

        &::placeholder{
            color: $gray-color;
        }
      }
      

    &-btn{
      padding: 0 2rem;
      border-top-right-radius: $radius;
      border-bottom-right-radius: $radius;
      font-size: 1.4rem;
      background-color: $main-color;
      border: 1px solid #7397b36b !important;
      border-left: none !important;
      border:none;
      color: #fff;
      font-family: italic, serif;
    }
}

.logotype{
    margin-top: 1rem;
    width: 15rem;
    height: 10rem;
}

.navigation__list{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    &-item{
        font-size: 3rem;
    }
     
    &-link:link,
    &-link:active{
       text-decoration: none;
       color: $gray-color;
    }

    &-link:hover,
    &-link:visited{
      color: #333;
    }
}
